<!DOCTYPE html>
<html>
  <head>
    <title>Render</title>
    <link rel='stylesheet' href='./style/sample.css' />
    <meta charset="utf-8">
  </head>
  <body>
    <h2>Hello this is the main page</h2>
  </body>
</html>
